{% extends 'base.html' %}
{% block title %}Add Tag{% endblock %}
{% block content %}
<div class="h1 mb-3">Create a tag</div>
<form action="/tags/new" method="POST">
    <div class="form-group">
        <label for="tag">Name</label>
        <input type="text" name="tag" id="tag" placeholder="Enter a name for the new tag">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a href="/tags" class="btn btn-light" role="button" aria-pressed="true">Cancel</a>
</form>
{% endblock %}