{% extends 'base.html' %}
{% block title %}Edit Tag{% endblock %}
{% block content %}
<div class="h1 mb-3">Edit tag: {{tag.name}}</div>
<form action="/tags/{{tag.id}}/edit" method="POST">
    <div class="form-group">
        <label for="tag">Name</label>
        <input type="text" name="tag" id="tag" value="{{tag.name}}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/tags" class="btn btn-light" role="button" aria-pressed="true">Cancel</a>
</form>
{% endblock %}